<div class="row">
  <%= image_tag("logo.png", class: "logo") %>
  <% if false  %>
    <%= image_tag("text3.png", class: "logo") %>
    <center>
      <%= image_tag("qr.jpg", class: "logo") %>
    </center>
  <% else %>
    <%= image_tag("thzz_1.png", class: "logo") %>
    <div class="col-xs-8 col-xs-offset-2 text-center mobile_input">
      <% if flash[:notice] %>
        <div class="alert alert-warning">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= render "form" %>
    </div>
  <% end %>
  <div class="col-xs-12 text-center">
    <div class="mt10">
      <%= image_tag("thzz_cd.png", class: "logo") %>
    </div>
    <div class="mt10">
      <%= image_tag("thzz_2.png", class: "logo") %>
    </div>
    <div class="mt10">
      <%= image_tag("thzz_3.png", class: "logo") %>
    </div>
    <div class="mt10">
      <%= image_tag("thzz_4.png", class: "logo") %>
    </div>
    <div class="mt10">
      <%= image_tag("thzz_5.png", class: "logo") %>
    </div>
    <div class="mt10">
      <%= image_tag("thzz_6.png", class: "logo") %>
    </div>
    <div class="mt10">
      <%= image_tag("thzz_7.png", class: "logo") %>
    </div>
    <div class="mt10">
      <%= image_tag("thzz_8.png", class: "logo") %>
    </div>
    <div class="mt10">
      <%= image_tag("thzz_9.png", class: "logo") %>
    </div>
    <div class="mt10">
      <div class="col-xs-6">
          <%= link_to image_tag("thzz_10.png", class: "logo"), notice_path %>
      </div>
      <div class="col-xs-6">
          <%= link_to image_tag("thzz_11.png", class: "logo"), notice_path %>
      </div>
    </div>
    <div class="footer">
      @2015 行者网络 新ICP备15001313号 
      <script src="http://s11.cnzz.com/stat.php?id=1255151966&web_id=1255151966" language="JavaScript"></script>
    </div>
  </div>
</div>

